DerivedDataCache
Intermediate
Saved
Build
Binaries/*
!Binaries/Win64
Binaries/Win64/*
!Binaries/Win64/SDL2.dll
Plugins/Runtime/HoudiniEngine/Binaries/*
Plugins/Runtime/DLSS/Binaries/*
Plugins/Runtime/NRD/Binaries/*
Plugins/Runtime/RTXGI/Binaries/*
Plugins/Runtime/Ansel/Binaries/*
Plugins/Runtime/DLSSMoviePipelineSupport/Binaries/Win64/*
Plugins/Runtime/Reflex/Binaries/*
Rink.sln.DotSettings.user
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.pdb
*.xcodeproj
*.xcworkspace
.idea
index.html_backup
*.dll
*.dll
*.modules
Plugins/Runtime/Ansel/Binaries/Win64/UE4Editor-Ansel.dll
Plugins/Runtime/Ansel/Binaries/Win64/UE4Editor.modules
Plugins/Runtime/DLSSMoviePipelineSupport/Binaries/Win64/UE4Editor-DLSSMoviePipelineSupport.dll
Plugins/Runtime/DLSSMoviePipelineSupport/Binaries/Win64/UE4Editor.modules
Plugins/Runtime/Reflex/Binaries/Win64/UE4Editor-Reflex.dll
Plugins/Runtime/Reflex/Binaries/Win64/UE4Editor.modules
!Source/TurboSloths/SDL2/lib/SDL2.dll
.rar
